@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@font-face {
  font-family: 'Monograf';
  src: local('Monograf Text Bold'), local('Monograf-Text-Bold'),
      url('./font/MonografTextBold.woff2') format('woff2'),
      url('./font/MonografTextBold.woff') format('woff'),
      url('./font/MonografTextBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
} * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Monograf";
  box-sizing: border-box;
  text-align: center;
  user-select: none;
} #landing {
  width: 100vw;
  min-height: 100vh;
  background: rgb(242,170,40);
  background-image: url('./img/landing-taxi.jpeg');
  background-size: cover;
  color: hsl(0, 0%, 100%);
  box-shadow: inset black 0px 160px 128px -64px;
} #landing-texts {
  margin-top: 64px;
  margin-left: 32px;
  margin-right: 32px;
  text-shadow: 1px 1px 3px black;
} #header {
  padding: 24px 64px;
} .header-link {
  padding: 0px 24px;
  cursor: pointer;
} #brand-logo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
} #brand-title {
  cursor: pointer;
} #account * {
  padding: 6px 12px;
  margin: 0 16px;
  border-radius: 8px;
} #login {
  background: black;
  color: white;
  cursor: pointer;
} #sign-up {
  background: white;
  color: black;
  cursor: pointer;
} #main-text {
  font-size: 7vw;
} #main-text-highlight {
  color: lightskyblue;
} #subtext {
  font-size: 4vw;
  margin-top: 32px;
} #app-buttons {
  margin-top: 24px;
} .app-button {
  background: black;
  padding: 4px 8px;
  margin: 8px;
  border-radius: 4px;
  cursor: pointer;
} #download-count {
  margin-top: 32px;
} .download-pfp {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  margin-left: -40px;
} #download-pfps {
  margin-left: 40px;
  margin-right: 12px;
} #pagination-header {
  text-align: center;
  font-size: 3em;
  margin-top: 32px;
} #pagination-page {
  width: 100vw;
} #filters {
  margin: 32px;
} #filters * {
  border-radius: 4px;
  box-shadow: inset 0 0 2px 2px gray;
  margin: 0px 16px;
  height: 24px;
} .pagination-card {
  width: 384px;
  height: 384px;
  box-shadow: 0 0 64px 16px lightgray;
  border-radius: 32px;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
} #pagination {
  width: 100vw;
} .pagination-card-title {
  font-size: 32px;
} .pagination-card-type {
  text-transform: capitalize;
} #pagination-controls {
  margin: 32px;
} .pagination-control {
  width: 50px;
  font-size: 32px;
  margin: 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow 0.5s;
  box-shadow: inset 0 0 2px 2px gray;
} .pagination-control:hover {
  transition: box-shadow 0.5s;
  box-shadow: inset 0 0 4px 4px gray;
} #info {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #ff0, #f90);
  color: black;
} #info-header {
  font-size: 4em;
  margin-top: 32px;
} .info-item {
  background: linear-gradient(to bottom right, #f90, #ff0);
  width: 400px;
  padding: 32px;
  margin: 32px;
  border-radius: 32px;
} .info-header {
  font-size: 2em;
} #footer {
  background: black;
  color: white;
} #footer-title {
  margin-top: 64px;
  font-size: 4vw;
} #footer-title-link {
  background: white;
  color: black;
  padding: 8px;
  border-radius: 32px;
  cursor: pointer;
} .burgers {
  display: none;
} @media (max-width: 1000px) {
  #header-links-links {
    display: none;
  } .burgers {
    display: block;
  } #header-burger {
    width: 20px;
    height: 20px;
  } #burger {
    width: 20px;
    height: 2px;
    background: white;
    position: relative;
    top: 9px;
  } #burger::before {
    content: '';
    position: relative;
    display: block;
    top: 4px;
    width: 20px;
    height: 2px;
    background: white;
  } #burger::after {
    content: '';
    position: relative;
    display: block;
    bottom: 6px;
    width: 20px;
    height: 2px;
    background: white;
  }
}